body{
    background-color: #c7cdff;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav
{
    display: none;
}

#botao-hamburguer
{
    display: block;
    background-color: transparent;
    border: 0;
    font-size: 24px;
}

.container
{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   gap: 12px;
}

.cartao
{
    background-color: #6675ff;
    width: 80%;
    height: 300px;
    border-radius: 10px;
}

@media (min-width: 1280px)
{
    .container
    {
       display: flex;
       flex-direction: row;
       justify-content: space-between;
    }

    nav{
        display: block;
    }

    #botao-hamburguer
    {
        display: none;
    }

    .cartao
    {
        background-color: #6675ff;
        width: 30%;
        height: 300px;
        border-radius: 10px;
    }
}